Django==5.2.11
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
drf-spectacular==0.29.0
django-allauth==65.14.3
django-cors-headers==4.9.0
django-celery-beat==2.8.1
django-celery-results==2.6.0
celery==5.6.2
redis==7.2.0
stripe==14.4.0
python-decouple==3.8
dj-database-url==2.1.0
psycopg2-binary==2.9.9
gunicorn==21.2.0
whitenoise==6.7.0
Pillow==11.3.0
WeasyPrint==62.3
boto3==1.42.11
sendgrid==6.11.0
PyJWT==2.11.0
cryptography==42.0.8